In [9]:
#Dictionary
#it is a mutable data type
#it support indexing
#multiple and duplicate data types
#ordered data types
#d=dict()
#it is used by curly braces
#d={<key>:<value><key>:<value>...}
#Cannot use operators like concatenataion
d={'a':'apple,'b':'ball','c':'cat'}
print (d)
print(type(d))
print(d['b'])

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>
ball

In [11]:
d={'a':'apple','b':'ball','c':'cat'}
print (d)#here it print in same order of dictionary so it is ordered

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [13]:
d={'a':'apple','b':'ball','c':'cat','a':'ant'}
print (d) #it is mutable but the keys are immutable

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [19]:
d={'a':'apple','b':'ball','c':'cat','a':'ant'}
for i in d:
    print(i)

a
b
c

In [21]:
d={'a':'apple','b':'ball','c':'cat','a':'ant'}
for i in d.values():
    print(i)

ant
ball
cat

In [23]:
d={'a':'apple','b':'ball','c':'cat','a':'ant'}
for i in d.items():
    print(i)

('a', 'ant')
('b', 'ball')
('c', 'cat')

In [25]:
d=[['a','apple'],['b','ball']]
dict(d) #it converts to the dictionary from the listh

{'a': 'apple', 'b': 'ball'}

In [27]:
#how to create the dictionary by the user
d={}
d['a']='Apple'
d['b']='Ball'
d['c']='car'
print (d)

{'a': 'Apple', 'b': 'Ball', 'c': 'car'}

In [37]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    phone=input("Enter phone=")
    d[name]=phone
print(d)

Enter n= 2
Enter name= ram
Enter phone= 9861439642
Enter name= hari
Enter phone= 9800852449

{'ram': '9861439642', 'hari': '9800852449'}

In [39]:
d={'ram': '9861439642', 'hari': '9800852449'}
d['shyam']=98003456
d

{'ram': '9861439642', 'hari': '9800852449', 'shyam': 98003456}

In [41]:
#delete pop clear
d={'ram': '9861439642', 'hari': '9800852449'}
del d['ram']
d

{'hari': '9800852449'}

In [47]:
d={'ram': '9861439642', 'hari': '9800852449'}
a=d.pop('ram')
a
d

{'hari': '9800852449'}

In [55]:
d={'ram': '9861439642', 'hari': '9800852449'}
d.clear()
d

{}

In [63]:
#Storing multiple values in dictionary
#list as a dictionary
d={
    'Ram':[9861439642,981830587],
    'Shyam':[9844195650,9864110964],
    'Hari':[9800,8900,6789]
}
d

{'Ram': [9861439642, 981830587],
 'Shyam': [9844195650, 9864110964],
 'Hari': [9800, 8900, 6789]}

In [121]:
d={
    'Ram':[9861439642,981830587],
    'Shyam':[9844195650,9864110964],
    'Hari':[9800,8900,6789]
}
name=input("Enter name=")
phone=int(input("Enter 0 for ntc and 1 for ncell"))
d[name][phone]

Enter name= Ram
Enter 0 for ntc and 1 for ncell 1

981830587

In [75]:
#for multiple data
d={
    'name':['Ram','shyam'],
    'ncell':[9800,8790],
    'ntc':[9861,9844]
}
d

{'name': ['Ram', 'shyam'], 'ncell': [9800, 8790], 'ntc': [9861, 9844]}

In [81]:

d={
    'name':['Ram','shyam'],
    'ncell':[9800,8790],
    'ntc':[9861,9844]
}
d['ntc'][0]=984278900
d

{'name': ['Ram', 'shyam'], 'ncell': [9800, 8790], 'ntc': [984278900, 9844]}

In [83]:
d={
    'name':['Ram','shyam'],
    'ncell':[9800,8790],
    'ntc':[9861,9844]
}
del d['name'][0]
del d['ntc'][0]
del d['ncell'][0]
d

{'name': ['shyam'], 'ncell': [8790], 'ntc': [9844]}

In [97]:
#Nested dictionary
d={
   1: {'name':'ram','ntc':9861439642,'ncell':9800852449},
   2: {'name':'shyam','ntc':9844439642,'ncell':9828852449},
   3: {'name':'hari','ntc':9841439642,'ncell':981852449},

}

d

{1: {'name': 'ram', 'ntc': 9861439642, 'ncell': 9800852449},
 2: {'name': 'shyam', 'ntc': 9844439642, 'ncell': 9828852449},
 3: {'name': 'hari', 'ntc': 9841439642, 'ncell': 981852449}}

In [101]:
#Nested dictionary
d={
   1: {'name':'ram','ntc':9861439642,'ncell':9800852449},
   2: {'name':'shyam','ntc':9844439642,'ncell':9828852449},
   3: {'name':'hari','ntc':9841439642,'ncell':981852449},

}
d[1]['name']

'ram'

In [113]:
#Nested dictionary
d={
   1: {'name':'ram','ntc':9861439642,'ncell':9800852449},
   2: {'name':'shyam','ntc':9844439642,'ncell':9828852449},
   3: {'name':'hari','ntc':9841439642,'ncell':981852449},

}

d[1]['smart']=890076
del d[3]['ncell']

{1: {'name': 'ram', 'ntc': 9861439642, 'ncell': 9800852449, 'smart': 890076},
 2: {'name': 'shyam', 'ntc': 9844439642, 'ncell': 9828852449},
 3: {'name': 'hari', 'ntc': 9841439642}}

In [1]:
#WAP to create list inside dictionary CRUD 
#WAP to create dictionary inside list CRUD 
#WAP to create dictionary inside dictionary CRUD 
#take subject marks,create total percentage,grade then
#billing system

 info=""
grand_total=0
n=int(input("Enter the number of product n="))
for i in range(n):
    product=input("Enter the product name=")
    qty=float(input("Enter the qty="))
    price=float(input("Enter the price=")) 
    total=price*qty
    row=product+"\n"+ str(price)+"\n"+ str(qty)+"\n"+ str(total)+"\n"
    info=info+row
    grand_total=grand_total+total
    print("Bill=\n", info)
    print("The price is:",price)
    print("qty=",qty)2
    print("total billing Amount=\n",grand_total)

In [9]:
#list inside dictionary
d={}
info=""
grand_total=0
n=int(input("Enter the number of product n="))
for i in range(n):
    product=input("Enter the product name=")
    qty=float(input("Enter the qty="))
    price=float(input("Enter the price=")) 
    total=price*qty
    d[product]=[qty,price,total]
    grand_total=grand_total+total
    print("Bill=\n", info)
    print("The price is:",price)
    print("qty=",qty)
    print("total billing Amount=\n",grand_total)

Enter the number of product n= 2
Enter the product name= app
Enter the qty= 2
Enter the price= 2

Bill=

The price is: 2.0
qty= 2.0
total billing Amount=
 4.0

Enter the product name= coke
Enter the qty= 4
Enter the price= 10

Bill=

The price is: 10.0
qty= 4.0
total billing Amount=
 44.0

In [21]:
#dictionary inside list
p=[]
info=""
grand_total=0
n=int(input("Enter the number of product n="))
for i in range(n):
    name=input("Enter the product name=")
    qty=float(input("Enter the qty="))
    price=float(input("Enter the price=")) 
    total=price*qty
    item = {"name": name, "price": price, "qty": qty}
    p.append(item)
    grand_total=grand_total+total
    for item in p:
        print("Bill=\n", info)
        print("The price is:",price)
        print("qty=",qty)
        print("total billing Amount=\n",grand_total)

Enter the number of product n= 2
Enter the product name= aa
Enter the qty= 2
Enter the price= 34

Bill=

The price is: 34.0
qty= 2.0
total billing Amount=
 68.0

Enter the product name= bb
Enter the qty= 2
Enter the price= 3

Bill=

The price is: 3.0
qty= 2.0
total billing Amount=
 74.0
Bill=

The price is: 3.0
qty= 2.0
total billing Amount=
 74.0

In [ ]:
#dictionary in dictionary