In [1]:
#python collection is used for collecting data in the python(data types) pre defined variables
#List
#tuple
#dict
#set

In [3]:
#list
#indexing
#ordered
#multiple and duplicate data
#Mutable

In [11]:
l=["Apple","Ball","Cat","Apple"]#duplication
a=[1,2,3,4,5,6,7,8,9,9]#multiple value
print(l)
print(a)
print (1[0])

['Apple', 'Ball', 'Cat', 'Apple']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [25]:
l=["Apple","Ball","Cat","Apple",1,2,3,10,5]
print (l[0])#indexing
print(l[0:2])#slicing
print(l[0:10:2])

Apple
['Apple', 'Ball']
['Apple', 'Cat', 1, 3, 5]

In [39]:
l=["Apple","Ball","Cat","Apple"]
for i in l:
    print(i)

Apple
Ball
Cat
Apple

In [45]:
#Range
l=["Apple","Ball","Cat","Apple"]
for i in range(len(l)):
    print(l[i])

Apple
Ball
Cat
Apple

In [55]:
#user defined list append()-add the value in list,insert()-inserting the value in desired index of list extend()-can copy the all data of one list to another
#WAP to take value from user and store in the list
#l=list()
#l=[]
n=int(input("enter n="))
for i in range(n):
    x=input("Enter x=")
    l.append(x)
    print(l)

enter n= 3
Enter x= aa

['Apple', 'Ball', 'Cat', 'Apple', 'Apple', 'dog', 'cat', 'you', 'apple', 'ball', 'cat', 'dog', 'fish', 'Apple', 'Ball', 'cay', 'ee', 'e', 'aa']

Enter x= ss

['Apple', 'Ball', 'Cat', 'Apple', 'Apple', 'dog', 'cat', 'you', 'apple', 'ball', 'cat', 'dog', 'fish', 'Apple', 'Ball', 'cay', 'ee', 'e', 'aa', 'ss']

Enter x= d

['Apple', 'Ball', 'Cat', 'Apple', 'Apple', 'dog', 'cat', 'you', 'apple', 'ball', 'cat', 'dog', 'fish', 'Apple', 'Ball', 'cay', 'ee', 'e', 'aa', 'ss', 'd']

In [15]:
# Taking input from user
n = int(input("Enter n = "))
l = []  # initialize empty list

# Taking n numbers as input
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)

# Displaying results
print("The sum =", sum(l))
print("The min =", min(l))
print("The max =", max(l))

# Sorting in ascending order
l.sort()
print("Sorted list (ascending):", l)

# Sorting in descending order
l.reverse()
print("Sorted list (descending):", l)

Enter n =  3
Enter x =  1
Enter x =  2
Enter x =  3

The sum = 6
The min = 1
The max = 3
Sorted list (ascending): [1, 2, 3]
Sorted list (descending): [3, 2, 1]

In [11]:
a=["Ball","cat","Apple","dog"]
a.sort()
print(a)

['Apple', 'Ball', 'cat', 'dog']

In [21]:
#inserting and append
a=["Ball","cat","Apple","dog"]
a.append("Apple")
a.insert(1,"fish")
print(a)

['Ball', 'fish', 'cat', 'Apple', 'dog', 'Apple']

In [29]:
#extend 
a=["Ball","cat","Apple","dog"]
b=[1,2,3,4,5]
#a.extend(b)
#print(a)
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 'Ball', 'cat', 'Apple', 'dog']

In [31]:
a=["Ball","cat","Apple","dog"]
b=[1,2,3,4,5]
c=a+b
print(c)

['Ball', 'cat', 'Apple', 'dog', 1, 2, 3, 4, 5]

In [33]:
a=["Ball","cat","Apple","dog"]
b=[1,2,3,4,5]
a=a+b
print(a)

['Ball', 'cat', 'Apple', 'dog', 1, 2, 3, 4, 5]

In [37]:
#CRUD
#Create
#Read
#Update
#Delete

In [41]:
#Update or edit
a=["Ball","cat","Apple","dog"]
a[0]="Hen"
print (a)

['Hen', 'cat', 'Apple', 'dog']

In [45]:
#updating multiple data
a=["Ball","cat","Apple","dog"]
a[0:2]=["hen","fish"]
print (a)

['hen', 'fish', 'Apple', 'dog']

In [7]:
#Delete
#del()
#remove()
#pop()
a=["Ball","cat","Apple","dog"]
del a[0]
print(a)

['cat', 'Apple', 'dog']

In [11]:
a=["Ball","cat","Apple","dog"]
del a[0:2]
print(a)

['Apple', 'dog']

In [15]:
a=["Ball","cat","Apple","dog"]
a.remove("Ball")
print(a)

['cat', 'Apple', 'dog']

In [78]:
#if multiple same data has to be removed then
a = ["Ball", "cat", "Apple", "dog", "Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
print(a)

['cat', 'Apple', 'dog']

In [70]:
#index
a=["Ball","cat","Apple","dog","Ball"]
a.index("Ball")

0

In [62]:
a=["Ball","cat","Apple","dog","Ball"]
l=len(a)
for i in range(l):
  if a[i]=="Ball":
     print(i)

0
4

In [64]:
a=["Ball","cat","Apple","dog","Ball"]
del a[0]
print (a)

['cat', 'Apple', 'dog', 'Ball']

In [66]:
#pop()
a=["Ball","cat","Apple","dog","Ball"]
b=a.pop(1)
print(a)
print(b)

['Ball', 'Apple', 'dog', 'Ball']
cat

In [82]:
#searching
a = ["Ball", "cat", "Apple", "dog", "Ball"]
if"Ball" in a:
    print("Yes")
    print(a.count("Ball"))
else:
    print("No")

Yes
2

In [94]:
#list inside list
#nested list
a=[{1,2,3},
   {4,5,6},
   {7,8,9}]
print(a)
print (a[0])
print (a[2])

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]
{1, 2, 3}
{8, 9, 7}

In [27]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9}]
print (a[0][0])

TypeError: 'set' object is not subscriptable

In [102]:
a=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
print (a)

[['Ram', 34, 'Ktm'], ['shyam', 65, 'dolakha'], ['hari', 45, 'bkt']]

In [ ]:
l=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    add=input("Enter add=")
    age=int(input("Enter age="))
l.append([name,add,age])

In [9]:
l=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
a=['sita',34,'jhapa']
c=l+a
print(c)

[['Ram', 34, 'Ktm'], ['shyam', 65, 'dolakha'], ['hari', 45, 'bkt'], 'sita', 34, 'jhapa']

In [21]:
l=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
l[0][1]=46
print(l)

[['Ram', 46, 'Ktm'], ['shyam', 65, 'dolakha'], ['hari', 45, 'bkt']]

In [39]:
l=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
for i in l:
    i[2]=f"{i[2]},Nepal"
    print(l)

[['Ram', 34, 'Ktm,Nepal'], ['shyam', 65, 'dolakha'], ['hari', 45, 'bkt']]
[['Ram', 34, 'Ktm,Nepal'], ['shyam', 65, 'dolakha,Nepal'], ['hari', 45, 'bkt']]
[['Ram', 34, 'Ktm,Nepal'], ['shyam', 65, 'dolakha,Nepal'], ['hari', 45, 'bkt,Nepal']]

In [45]:
l=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
del l[0]
l

[['shyam', 65, 'dolakha'], ['hari', 45, 'bkt']]

In [53]:
l=[['Ram',34,'Ktm'],
   ['shyam',65,'dolakha'],
   ['hari',45,'bkt']]
l.remove(['Ram',34,'Ktm'])
l

[['shyam', 65, 'dolakha'], ['hari', 45, 'bkt']]