In [1]:
#loop
#for loop
#while loop

In [7]:
#range(5)      0,1,2,3,4
#range(1,5)    1,2,3,4
#range(1,10,2)  1,3,5,7,9

In [15]:
for i in range(5):
    print(i,"Hello world")
    #in updates the value of i
    #: sign is necessary in loop

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [17]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [23]:
for i in range(1,6,2):
     print(i,"Hello world")
#2 INDICATES IN ABOVE FOR LOOP INDICATES THE INCREMENT

1 Hello world
3 Hello world
5 Hello world

In [27]:
for i in range(5,0,-1):
     print(i,"hello world")
    #-1 indiciates the data in reverse way

5 hello world
4 hello world
3 hello world
2 hello world
1 hello world

#wap to create the multiplication table
a=int(input("Enter the value of a="))
for i in range(1,11):
      print(a,"*",i,"=",a*i)

In [52]:
#wap to calculate sum
s=0
n=int(input("Enter the no of input"))
for i in range(n):
      m=int(input("Enter the amount"))
      s=s+m
        #sum=old sum amount +new amount deposited
      print(s)

Enter the no of input 2
Enter the amount 1000

1000

Enter the amount 1222

2222

In [61]:
#wap sum with some interest
#this is compound interest
s=0
n=int(input("Enter the no of input"))
for i in range(n):
      m=int(input("Enter the amount"))
      s=s+m
      s=s*1.1
        #sum=old sum amount +new amount deposited
      print(s)

Enter the no of input 2
Enter the amount 1000

1100.0

Enter the amount 1000

2310.0

In [3]:
#WAP to calculate factorial
#5!-1*2*3*4*5
fact=1
n=int(input("Enter the number"))
for i in range(1,n+1):
        fact=fact*i
        print (fact)

Enter the number 3

1
2
6

In [87]:
#wap to print sum of all numbers
sum=0;
n=int(input("Enter the number"))
for i in range(1,n+1):
        sum=sum+i
        print (sum)

Enter the number 5

1
3
6
10
15

In [13]:
#loop in string
a="HELLO"
for i in a:+
    print(i,end="")#end=" " denotes that print in horizontal aand provide space between the output

HELLO

In [31]:
a="HELLO"
print(len(a))
for i in a:
    print(i,end="")

5
HELLO

In [25]:
a="Hello world!.I am python"
for i in a:
    if i!=""and i!=".":
      print(i,end=" ")

H e l l o   w o r l d I   a m   p y t h o n

In [9]:
 info=""
grand_total=0
n=int(input("Enter the number of product n="))
for i in range(n):
    product=input("Enter the product name=")
    qty=float(input("Enter the qty="))
    price=float(input("Enter the price=")) 
    total=price*qty
    row=product+"\n"+ str(price)+"\n"+ str(qty)+"\n"+ str(total)+"\n"
    info=info+row
    grand_total=grand_total+total
    print("Bill=\n", info)
    print("The price is:",price)
    print("qty=",qty)2
    print("total billing Amount=\n",grand_total)

Enter the number of product n= 2
Enter the product name= qp
Enter the qty= 2
Enter the price= 12

Bill=
 qp
12.0
2.0
24.0

The price is: 12.0
total billing Amount=
 24.0

Enter the product name= w
Enter the qty= 2
Enter the price= 12

Bill=
 qp
12.0
2.0
24.0
w
12.0
2.0
24.0

The price is: 12.0
total billing Amount=
 48.0

In [44]:
#control statement while loops chalirako loop lai interrupt garxa ra code execute garxa
#break tyo condition aayesi loop chalna xadxa
#continue kunai euta condition skip garera loop chalxa
for i in range(10):
    if i==5:
      break
    print(i,end=" ")

0 1 2 3 4

In [42]:
for i in range(10):
    if i==5:
      continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [38]:
a="Hello world.I am from ktm."
for i in a:
    if i==".":
     break
    print(i,end="")

Hello world

In [36]:
a="Hello world. I am from ktm."
for i in a:
    if i==".":
     continue
    print(i,end="")

Hello world I am from ktm

In [54]:
#wap to find if the no is prime or composite
#for else 
n=int(input("Enter the number:"))
for i in range (2,n):
  if n%i==0:
      print("Composite number")
      break
else:      
       print("Prime number")

Enter the number: 11

Prime number

In [80]:
#while loop
#syntax
#while<condition>:
  #  <operations>
i=0
while i<5:
    print(i,end=" ")
    i=i+1

0 1 2 3 4

In [1]:
i=0
while i<100:
    if i==40:
        i=i+1
        continue
    print(i,end=" ")
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [3]:
i=5
while i>0:
    print(i,end=" ")
    i=i-1

5 4 3 2 1

In [15]:
#WAP
i=1
x=int(input("Enter the x="))
while(i<=10):
          print(x,"*",i,"=",x*i)
          i=i+1

Enter the x= 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
#wap to calculate sum
i=0
n=int(input("Enter the no of input"))
while i<n:
      m=int(input("Enter the amount"))
      s=s+m
      i=i+1
        #sum=old sum amount +new amount deposited
      print(s)

Enter the no of input 9

In [1]:
#string
a='Hello world'
b="Hello world"
c='''Hello world'''
print(a)
print(b)
print(c)

Hello world
Hello world
Hello world

In [11]:
#imutable data type
#string are iterable
#indexing
a='HELLO WORLD'
print(a[3])
print(a[-3])

L
R

In [15]:
#slicing
b=a[0:5]
c=a[5:]
print(b)
print(c)

HELLO
 WORLD

a='hello world'
l=len(a)
for i in range(1):
print(a[i])i=0

In [18]:
i=0
while i<len(a):
    print(a[i],end="")
    i=i+1

HELLO WORLD

In [20]:
#wap to create billing system using formatting
name="Ranjan"
age=24
add="Bhaktapur"
info=f"Hello world i am {name}.i am from {add}.i am {age}"
print (info)

Hello world i am Ranjan.i am fromBhaktapur.i am 24

In [22]:
#search in string
a="Ram shyam hari sita gopal"
b="Ram"
if b in a:
    print ("yes")
    print(a.count("Ram"))
else:
    print ("No")

yes
1

In [30]:
#search in string
a="Ram shyam hari sita gopal".lower()
b=input("Enter name=").lower()
if b in a:
    print ("yes")
    print(a.count(b))
else:
    print ("No")

Enter name= ram

yes
1

In [26]:
a="rAm"
a.lower()

'ram'

In [40]:
#replace
a="Ram shyam hari sita gopal"
a= a.replace("Shyam","shy")
print (a)

Ram shyam hari sita gopal