In [3]:
#tuple
#indexing
#multiple and duplicate
#ordered
#immutable  cannot perform any operation just we can create and store
#it is used in the data which cannot be changed just like gender option only we need male and female
#like provinces and district data
#it is not used for changing the data

a=tuple()
b=(1,2,3,4,5,6,7,8,9)
c=("Apple","Ball","cat")
a
b
c
print(type(a))

<class 'tuple'>

In [5]:
#we can concatenation
a=(1,2,3)
b=(4,5,6)
c=a+b
c

(1, 2, 3, 4, 5, 6)

In [11]:
#if the only one data added that is not tuple type so use comma at last if there is single data
#for eg:
a=("apple")
print (type(a))

<class 'str'>

In [17]:
#it gives string as output so for this problem we can solve it by using comma in the alst of data
a=("apple",)
print (type(a))
#this code output provides type as tuple

<class 'tuple'>

In [19]:
#we can convert the tuple into the list
#eg
a=("apple",'ball','cat')
b=list(a)
b

['apple', 'ball', 'cat']

In [27]:
#we can use those function which doesnot change any data of tuple
#like sum() min() max()etc
#tuple inside tuple
t=((1,2,3,4),
   (5,6,7,8,9))
  
t

((1, 2, 3, 4), (5, 6, 7, 8, 9))